.navbar{
  background-color: skyblue;
  height: 150px;
  display: flex;
  justify-content: space-between;
}

.navbarLeft {
  display: flex;
  flex-direction: row;

}

.navbarMiddle * {
  color: rgb(41, 41, 41);
  font-weight: 600;
  margin: 10px;  
  display: inline-block;
}

.cart{
  height: 40px;
  margin: 50px;
}