.navbar{
  background-color: skyblue;
  height: 150px;
  display: flex;
  justify-content: space-between;
}

.navbarLeft {
  display: flex;
  flex-direction: row;

}

.navbarMiddle * {
  color: rgb(41, 41, 41);
  font-weight: 600;
  margin: 10px;  
  display: inline-block;
  margin-top: 30%;  
  padding: 0.5em;
  border-radius: 10px;

}

.navbarMiddle :hover {
  background-color: whitesmoke;
}

.cart{
  height: 40px;
  margin: 50px;
}

.logo {
  height: 60px;
  margin: 40px;
}