h1 {
  text-align: center;
}

button {
  cursor: pointer;
  border-radius: 3px;
  border: rgb(145, 145, 145) 2px solid;
  padding: 5px;
  background-color: skyblue;
  font-weight: 450;
}

button:hover {
  background-color: white;
}

select {
  cursor: pointer;
}

input{
  border-radius: 3px;
  border: rgb(145, 145, 145) 2px solid;
}